@import "../main/vars.scss";

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 100px 0 140px;

    &__title{
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        text-align: center;
        color: $primary-color;

    }
    &__text {
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        padding-left: 30px;
        color: $another-color;
        position: relative;

        &::after,
        &::before{
            content: " ";
            position: absolute;
            bottom: -20px;
            left: 50px;
            height: 6px;
            width: 200px;
            background-color: $light-color;
            transform: translateX(-10%);
        }
        &::after{
            bottom: -30px;

        }
    }
}
.contact__form {
    width: 1109.24px;
    height: 450px;
    
    border: 1px solid #486958;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 40px;
   
}
.contact__group{
    padding: 15px;
}
.contact__group label {
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: $another-color;
}
.contact__group input{
    background: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid #000000;
    width: 100%;
}
.btn.send {
    
    bottom: 0px;
    right: 0px;
    
    
}