@import "../main/vars.scss";

.fswork{
    
    padding: 100px 0 140px;
    
    &__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 105px;
        text-align: center;
        color: $primary-color;
        text-align: center;

    }

    &__text{
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: $seconary-color;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 100px;
    
    }
    @media (max-width: 991px){
        font-size: 20px;
    }
    @media (max-width: 991px){
        font-size: 10px;
    }
    
}
    .fswork__content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        
    }
    .fswork__imgs {
        width: 70%;
       
        @media (max-width: 575px){
            display: none;
        }

        &__img{
            width: 100%;
            border-radius: 10px 0px 0px 10px;
        }
       
    }
    .fswork__description {
        width: 30%;
        background: $background-color;
        border-radius: 0px 10px 10px 0px;
        padding: 50px;

        &__description{
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;

            color: $another-color;
            padding: 70px 70px;

        }
        
    }
    .fswork__nav {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #486958;
        position: relative;
        padding-top: 50px;
    
        
    }
    .triangle {
        content: url("../imgs/Vector.png");
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: #FFFFFF;
        border-radius: 50%;
        border: rgba(255, 255, 255, 0.4);
        position: absolute;
        left: 0px;
        transform: rotateX(-50%);

    }
    .description {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

        color: $another-color;
        padding-bottom: 30px;
    }