@import "../main/vars.scss";

.fswork{
    
    padding: 100px 0 140px;
    
    &__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 105px;
        text-align: center;
        color: $primary-color;
        text-align: center;

    }

    &__text{
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: $seconary-color;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 100px;
    
    }
}
    .fswork__content {
        display: flex;
        flex-wrap: wrap;
        
    }
    .fswork__imgs {
        width: 70%;
       

        &__img{
            width: 65%;
            border-radius: 10px 0px 0px 10px;
           
        }
    }
    .fswork__descript {
        width: 30%;
        background: $background-color;
        border-radius: 0px 10px 10px 0px;

        &__description{
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;

            color: $another-color;

        }
        
        &__nav {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #486958;
            position: relative;
        
            &:before {
                content: "";
                position: absolute;
                left: 63.65%;
                right: 34.95%;
                top: 27.59%;
                bottom: 71.73%;
                background: #FEC62D;
                background: #FFFFFF;
                border-radius: 65px;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 65px;

            }
        }
    }
    .description {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

        color: $another-color;
    }