@import "../main/vars.scss";

.header {

    &__row {
        padding: 30px 0 25px;
        display: flex;
        flex-wrap: wrap;
        
        align-items: center;
        width: 100%;
    }
}

.logo {
    margin-right: 150px;

    &__img {}
}
.name {
    font-weight: 800;
    font-size: 35px;
    line-height: 52px;

    color: $light-color;
    margin: 0 12px;
}
.nav {
    &__link{
        display: inline-block;
        font-weight: normal;
        font-size: 25px;
        line-height: 143%;
        color: $seconary-color;
        padding: 1px 30px;
        margin-left: 23px;
    }
    &__link.first {
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
        color: $light-color;
    }

}
.nav-home{
    display: flex;
    flex-wrap: wrap;
}
.img-home {
    width: 48px;
    height: 6px;
    left: 647px;
    top: 144px;
    background: #FEC62D;
    border-radius: 21px;
}
.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    line-height: 143%;
    color: #FFFFFF;
    background: $light-color;
    border-radius: 15px;
    padding: 10px 15px;
    margin-left: auto;
    width: 271px;
    height: 80px;
    left: 1507px;
    top: 85px;

    &:hover {
        background-color: $primary-color;
    }
}