@import "../main/vars.scss";

.header {

    &__row {
        padding: 20px 0 25px;
        display: flex;
        flex-wrap: wrap;
        
        align-items: center;
        width: 100%;
    }
}

.logo {
    margin-right: 10px;

    &__img {
        
    }
}
.name {
    font-weight: 800;
    font-size: 35px;
    line-height: 52px;

    color: $light-color;
    margin: 0 12px;
}
.nav {
    &__link{
        display: inline-block;
        font-weight: normal;
        font-size: 25px;
        line-height: 143%;
        color: $seconary-color;
        padding: 0 65px;
        position: relative;
    }
    &__link.active {
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
        color: $light-color;

        &::before {
            position: absolute;
            content: "";
            width: 48px;
            height: 6px;
            left: 50%;
            bottom: 0;
            background: #FEC62D;
            border-radius: 21px;
            transform: translateX(-50%);
        }
    }

}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    line-height: 143%;
    color: #FFFFFF;
    background: $light-color;
    border-radius: 15px;
    padding: 10px 15px;
    margin-left: auto;
    width: 271px;
    height: 80px;
    left: 1507px;
    top: 85px;
    transform: background-color ease 0.4s;

    &:hover {
        background-color: $primary-color;
    }
}