@import "../main/vars.scss";

.project {
    padding: 100px 0 140px;

    &__title {
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        text-align: center;

        color: $primary-color;

    }
    &__text {
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: $seconary-color;
        position: relative;

        &::after,
        &::before{
            content: " ";
            position: absolute;
            bottom: -20px;
            left: 50%;
            height: 6px;
            width: 200px;
            background-color: $light-color;
            transform: translateX(-50%);
        }
        &::after{
            bottom: -30px;

        }
    }
    
}
.project__vector {
    display: flex;
    flex-wrap: wrap;

    &__vector {
        text-align: center;
    }
}
.grid-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-column-gap: 50px ;
    margin-top: 90px;
    justify-content: space-between;
}
.grid-item h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: $light-color;

}
.grid-item p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: $another-color;

}
.item {
    padding: 10px 10px;
}
.item2 {
    grid-column: 1/2;
}
.item3{
    grid-column: 1/2;
}