.testimonial {

    &__title {
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        text-align: center;
        color: $primary-color;

    }
}

.testimonial-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.grid-item1 {

}
.grid-item2 {
    display: grid;
    background-color: #CCF0E6;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content max-content max-content;
}

.item-name {
    display: flex;
    flex-wrap: wrap;
    &__title {
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;

        color: #486958;
    }
}
.item3__text,
.item3__title {
    grid-column: 1/4;

    &::before{
        content: " “ ";
        position: absolute;
        font-family: Port Lligat Sans;
        font-style: normal;
        font-weight: normal;

        font-size: 300px;
        line-height: 321px;
        
        color: #FFFFFF;
        
        transform: translateX(-50%);
    }
}