section.contact
    .contact__content 
        h2.contact__title Contact Us
        p.contact__text Have any questions? Want help before getting started? 
    .contact__form
        .contact__group 
            label Full name
            input 
        .contact__group  
            label Email address
            input
        .contact__group  
            label Description
            input
        button.btn.send Send now
