section.contact
    .contact__content 
        h2.contact__title Contact Us
        p.contact__text Have any questions? Want help before getting started? 
    .contact__form 
        input Full name
        input Email address
        input Description
        button.btn Send now
