section.fs 
    .container
        .fs1__container
            .fs__content 
                h1.fs__title Get the inspiration of interior design here
                p.fs__text architecture not only about engineering, it even lands to art and aesthetics. With us, you will get a residentical design with an extraordinary touch of art.
                button.btn Let’s go
            .fs__img 
                img(src="./assets/imgs/foto.png", alt="").img__fs