section.fswork
    .fswork__container 
        h2.fswork__title How it works
        p.fswork__text Spice up your space even simpler than you think
        .fswork__content 
            .fswork__imgs
                img(src="././assets/imgs/fotoworks.png", alt="fotoworks").fswork__img
            .fswork__description
                h3.description We provide design and build for commercial building, interior and furniture to improve the better life.
                a(href="#").fswork__nav S E E  V I D E O