section.fswork2
    .container
        .fswork2__container 
            .fswork2__imgs
                img(src="././assets/imgs/fotohome.png", alt="fotoworks").fswork__img
            .fswork2__description
                h2.fswork2__title Our mission is to deliver aesthetic visual for your home
                p.fswork2__text By applying bacis psychology principles, we are going to explain how perception works and how we can use this understanding to maximise the space that we occupy in our homes.
