header.header 
    .container   
        .header__row 
            a(href="index.html").logo
                img(src="./assets/imgs/logo.svg", alt="locus").logo__img 
                p.name Locus
            menu.nav 
                a(href="#").nav__link Home
                a(href="#").nav__link Contact
                a(href="#").nav__link Location
                a(href="#").nav__link About Us
            button.btn Sign Up