section.project
    .container
        .project__container 
            h1.project__title Our project 
            p.project__text Introducing our first official project
            .project__vector
                img.project__vector(src="./assets/imgs/Vector 1.png", alt="").vector
                img.project__vector(src="./assets/imgs/Vector 2.png", alt="").project__vector
        .grid-container 
            .grid-item 
                .item 
                    h2.title Project Livingroom
                    p.text A simple guide to create the perfect livingro-om for . Night Watc works beautifully in a wi-de gamut of arrangements.
                    img(src="./assets/imgs/project.png", alt="")
                .item 
                    img(src="./assets/imgs/project2.png", alt="")
                    h2.title Project workspace
                    p.text A simple guide to create the perfect livingro-om for . Night Watc works beautifully in a wi-de gamut of arrangements.
                    
                .item 
                    h2.title Library
                    p.text A simple guide to create the perfect livingro-om for . Night Watc works beautifully in a wi-de gamut of arrangements.
                    img(src="./assets/imgs/project3.png", alt="")
                
