section.testimonial
    .container 
        h2.testimonial__title Testimonial
        .testimonial-img 
            img(src="./assets/imgs/image1.png", alt="")
            img(src="./assets/imgs/image2.png", alt="")
            img(src="./assets/imgs/image3.png", alt="")
            img(src="./assets/imgs/image4.png", alt="")
        .grid-container
            .grid-item
                img(src="./assets/imgs/Testimonial.png", alt="testimonial")
            .grid-item
                p.name 105 project done
                p.name 12 years of experience
                p.name 10+ big company partnership
                p.item3__title "Not able to tell you how happy I am with interior design. Interior design has completely surpassed our expectations. Interior design saved my business. Interior design is worth much more than I paid."
                p.item3__text - Roscoe





