section.testimonial
    .container 
        h1.testimonial__title Testimonial
        .testimonial-img 
            img(src="./assets/imgs/image1.png", alt="")
            img(src="./assets/imgs/image2.png", alt="")
            img(src="./assets/imgs/image3.png", alt="")
            img(src="./assets/imgs/image4.png", alt="")
        .grid-container
            .grid-item 
                .item1 
                    img(src="./assets/imgs/Testimonial.png", alt="")
                .item2 
                    span.105 project done
                    span.12 years of experience
                    span.10+ big company partnership
                .item3 
                    p.item3__title "Not able to tell you how happy I am with interior design. Interior design has completely surpassed our expectations. Interior design saved my business. Interior design is worth much more than I paid."
                    p.item3__text - Roscoe





