extends ./layout/layout

block main
    main.main
        include ./components/fs
        include ./components/fswork
        include ./components/fswork2
        include ./components/testimonial
        